<h1>About Page</h1>
<div class='pageDesc'>Just a simple about page.</div>
<div class='boxCard'>
    <p class='boxHead'><i class="fas fa-info-circle"></i> About</p>
    <p class='aboutText'>My name is Gianluca Onorato and this is my dashboard site I've created.
        I used HTML, CSS, and JavaScript in order to create this site from the ground up.
        As you have probably already seen, I have made 5 pages. The first being the main home page with the picture
        carousel.
        The 4 subpages are the About page (where you're currently at!), a Board Game Search page, a Side Project page
        and a Football Manager page.
        Each of the other 3 subpages that aren't the home page or about page are about a different interest of mine.
        The Board Game Search page allows you to look up board game from BoardGameGeek.com and export different info
        about those games into a .csv file.
        The Side Projects page highlights my favorite side projects so far as well as a link to their Github Repo.
        The final page is the Football Manager page where I talk about some of my most recent saves and how they
        went/are going.
    </p>
</div>



<div class='boxCard'>
    <p class='boxHead'><i class="fas fa-desktop"></i> Computer Specs</p>
    <dl class='row'>
        <dt class='col-sm-3'>CPU</dt>
        <dd class='col-sm-9'>AMD Ryzen 7 3700X 4.20 GHz</dd>
        <dt class='col-sm-3'>GPU</dt>
        <dd class='col-sm-9'>NVIDIA GeForce GTX 1070</dd>
        <dt class='col-sm-3' id='ram'>RAM</dt>
        <dd class='col-sm-9'>32 GB 3600 MHz</dd>
        <dt class='col-sm-3'>STORAGE</dt>
        <dd class='col-sm-9'>250 GB SSD / 2TB HDD</dd>
        <dt class='col-sm-3'>KEYBOARD</dt>
        <dd class='col-sm-9'>GMMK White Ice Edition w/ Gateron Brown Switches</dd>
        <dt class='col-sm-3'>MOUSE</dt>
        <dd class='col-sm-9'>Pwnage Ultra Custom</dd>
        <dt class='col-sm-3'>MICROPHONE</dt>
        <dd class='col-sm-9'>Elgato Wave:3</dd>
        <dt class='col-sm-3'>WEBCAM</dt>
        <dd class='col-sm-9'>Razer Kiyo</dd>
        <dt class='col-sm-3'>MACROPAD</dt>
        <dd class='col-sm-9'>Boardsource 3x4 Macro</dd>
    </dl>
</div>
<div class='boxCard'>
    <p class='boxHead'><i class="far fa-newspaper"></i> Citations</p>
    <ul class='list-unstyled'>
        <li><a href="www.dafont.com">DaFont.com</a> for the custom fonts used in the site</li>
        <li><a href="https://www.pagecloud.com/blog/how-to-add-custom-fonts-to-any-website">For how to add a custom font
                to a site</a></li>
        <li><a href="https://www.tsv1860.de/de/Aktuelles_News/5124.htm">1860 Munich's Website</a> for a picture of their
            stadium. </li>
        <li><a
                href="https://stackoverflow.com/questions/14964035/how-to-export-javascript-array-info-to-csv-on-client-side">For
                how to export a 2D array into a .csv file</a></li>
        <li><a href="https://stackoverflow.com/questions/1207939/adding-an-onclick-event-to-a-table-row">For how to add
                a click event to table rows</a></li>
        <li>Wikimedia for some pictures</li>
        <li><a href="www.boardgamegeek.com">For box art shown on Board Game Search page</a></li>
        <li>
            <a
                href="https://unsplash.com/@jankolar?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jan
                Antonin Kolar</a> for
            <a
                href="https://unsplash.com/s/photos/database?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
                Database Creation side project photo</a>
        </li>
        <li>
            <a
                href="https://unsplash.com/@silverhousehd?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">André
                François McKenzie</a> for
            <a
                href="https://unsplash.com/s/photos/sql-database?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Cryptocurrency
                Tracker side project photo</a>
        </li>
        <li><a href="https://getbootstrap.com/docs/5.0/">Bootstrap Documentation for helping me get some nice looking
                layouts/components</a></li>
    </ul>
</div>

<div class='boxCard' style='margin-top:1%; margin-bottom:2%' >
    <p class='boxHead'>Easter Eggs</p>
    <p style='margin-left: 5pt'>I decided to put in a few Easter eggs in the website. They all link to a site about that Easter Egg. Here are
        hints for each of them. Try to do it without looking at the code!
        <ul style='margin-top: 0% !important'>
        <li>Daft Punk</li>
        <li>This player was only $30M</li>
        <li>What game is the Munich save on?</li>
        <li>I wish I bought some Bitcoin back in 2012.</li>
    </ul></p>
    
</div>
<script src="./js/about.js"></script>