<h1>Football Manager Save Details</h1>
<div class='pageDesc'>One of my favorite game series of all time Football Manager and my 3 most recent saves. Check out how I did in each of the saves.</div>
<div class="accordion accordion-flush fmAccor" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Leeds United
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <span class='team-logo'>
                    <img src="/images/fm/leeds_logo.png" alt="Leeds United Logo" class='logo'>
                    <img src="/images/fm/elland_road.jpg" alt='Elland Road' class='stadium'>
                </span>
                <span class='game-status '>
                    <dl class='row'>
                        <dt class='col-sm-5'>Game</dt>
                        <dd class='col-sm-7'>Football Manager 2020</dd>
                        <dt class='col-sm-5'>Status</dt>
                        <dd class='col-sm-7'><span class='badge rounded-pill bg-danger theBadge'>Finished</span></dd>
                        <dt class='col-sm-5'>Number of Seasons</dt>
                        <dd class='col-sm-7'>7 Seasons (1 in EFL Championship, 6 in Premier League)</dd>
                        <dt class='col-sm-5'>Record</dt>
                        <dd class='col-sm-7'>274W-84D-82L - 62% win perc.</dd>
                        <dt class='col-sm-5'>Goal of Save</dt>
                        <dd class='col-sm-7'>Win the Premier League or Champions League with Leeds</dd>
                        <dt class='col-sm-5'>Goal Achieved?</dt>
                        <dd class='col-sm-7'><span class='badge rounded-pill bg-success theBadge'>Yes!</span></dd>
                    </dl>
                </span>
                <span class='transferlist'>
                    <span class='listhead'>Important Transfers In</span>
                    <ul class='list-group list-group-flush'>
                        <li class='list-group-item player'>Jack $25M</li>
                        <li class='list-group-item player'>Colin Dagba $2M</li>
                        <li class='list-group-item player'>Yun Jung-Hwa $625K</li>
                        <li class='list-group-item player' id='haaland'>Erling Haaland $30M</li>
                        <li class='list-group-item player'>Presnel Kimpembe $37.5M</li>
                        <li class='list-group-item player'>David Palmer $23M</li>
                        <li class='list-group-item player'>Sergio Gómez $39M</li>
                        <li class='list-group-item player'>Nicolò Zaniolo $49M</li>
                    </ul>
                </span>
                <span class='trophylist'>
                    <span class='listhead'>Trophies</span>
                    <ul class='list-group list-group-flush'>
                        <li class='list-group-item'>EFL Championship (2020)</li>
                        <li class='list-group-item'>Carabao Cup (2022, 2023, 2027)</li>
                        <li class='list-group-item'>UEFA Europa Conference League (2023, 2025)</li>
                        <li class='list-group-item'>FA Cup (2025, 2027)</li>
                        <li class='list-group-item'>FA Community Shield (2025, 2027)</li>
                        <li class='list-group-item'>Premier League (2027)</li>
                    </ul>
                </span>
                <span class='save-story'>
                    <span class='listhead' id='leedsStoryHead'>Story</span>
                    <p class='story-body' id='leedsStory'>Took over Leeds in the Championship with a tight transfer budget and was basically only using the team I was handed. 
                        Ended up winning the league super early and smashed the points record and ended up with over 100 points on the season. 
                        The next season was our first in the Premier League and we finished in the top half where we would stay over the course of the save. 
                        In the last season before the newest Football Manager was released, we won the domestic treble, winning the FA Cup, the Carabao Cup and the Premier League, which we won by 12 points. 
                        Taking this team back to glory and lifting the Premier League trophy was my crowning achievement.</p>
                    <button type="button" id='leedsSave' class='btn btn-primary'>Download Save File</button>
                </span>
                <span class='bestXI'>
                    <span class='listhead'>Best XI</span>
                    <img class='xi' src='/images/fm/leeds-bestXI.png' alt="Leeds'Best XI over the course of the save">
                </span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                S.S.C Bari
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class='accordion-body'>
                <span class='team-logo'>
                    <img src="/images/fm/bari_logo.png" alt="S.S.C Bari Logo" class='logo bari'>
                    <img src="/images/fm/san_nicola.jpg" alt='San Nicola' class='stadium'>
                </span>
                <span class='game-status '>
                    <dl class='row'>
                        <dt class='col-sm-5'>Game</dt>
                        <dd class='col-sm-7' id='fm21'>Football Manager 2021</dd>
                        <dt class='col-sm-5'>Status</dt>
                        <dd class='col-sm-7'><span class='badge rounded-pill bg-danger theBadge'>Finished</span></dd>
                        <dt class='col-sm-5'>Number of Seasons</dt>
                        <dd class='col-sm-7'>4 (1 in Serie C, 1 in Serie B, 2 in Serie A)</dd>
                        <dt class='col-sm-5'>Record</dt>
                        <dd class='col-sm-7'>65W-41D-53L - 40% win perc.</dd>
                        <dt class='col-sm-5'>Goal of Save</dt>
                        <dd class='col-sm-7'>Bring Bari Serie A Glory</dd>
                        <dt class='col-sm-5'>Goal Achieved?</dt>
                        <dd class='col-sm-7'><span class='badge rounded-pill bg-danger theBadge'>No</span></dd>
                    </dl>
                </span>
                <span class='transferlist'>
                    <span class='listhead'>Important Transfers In</span>
                    <ul class='list-group list-group-flush'>
                        <li class='list-group-item'>Alessandro Cortinovis Loan (all 4 seasons)</li>
                        <li class='list-group-item'>Manolo Portanova $350K</li>
                        <li class='list-group-item'>Félix Correia $450K</li>
                        <li class='list-group-item'>Stefano Mazzini Free</li>
                        <li class='list-group-item'>Pietro Rovaglia $2.3M</li>
                        <li class='list-group-item'>Dawid Bugaj $4.5M</li>
                        <li class='list-group-item'>Harold Moukoudi $5M</li>
                    </ul>
                </span>
                <span class='trophylist'>
                    <span class='listhead'>Trophies</span>
                    <ul class='list-group list-group-flush'>
                        <li class='list-group-item'>Serie C/C Champions</li>
                    </ul>
                </span>
                <span class='save-story'>
                    <span class='listhead' id='bariStoryHead'>Story</span>
                    <p class='story-body' id='bariStory'>Bari is a team that a lot of my family living in Italy are fans of and I knew they never won in the highest tier in Italy and I set out to do that. 
                        After 2 seasons, I went from the 3rd tier in Italy to the highest. 
                        That was both a good and bad thing as I got some extra money to spend but also gave me a lot of tier 2 players on long contracts that I couldn't really let go without losing the dressing room. 
                        The two seasons I spent in the top tier we ended in the bottom half, with the first season coming 1 point away from dropping down to the 2nd tier again. 
                        I eventually found myself not having fun with this save and decided I wanted to do another league that I hadn't done yet: Germany.</p>
                    <button type="button" id='bariSave' class='btn btn-primary'>Download Save File</button>
                </span>
                <span class='bestXI'>
                    <span class='listhead'>Best XI</span>
                    <img class='xi' src='/images/fm/bari-bestXI.png' alt="Bari's Best XI over the course of the save">
                </span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                TSV 1860 München
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class='accordion-body'>
                <span class='team-logo'>
                    <img src="/images/fm/1860_logo.png" alt="TSV 1860 München Logo" class='logo'>
                    <img src="/images/fm/Grunwalder.jpeg" alt='Grünwalder Stadion' class='stadium'>
                </span>
                <span class='game-status '>
                    <dl class='row'>
                        <dt class='col-sm-5'>Game</dt>
                        <dd class='col-sm-7' id='fm21'>Football Manager 2021</dd>
                        <dt class='col-sm-5'>Status</dt>
                        <dd class='col-sm-7'><span class='badge rounded-pill bg-primary theBadge'>In Progress</span></dd>
                        <dt class='col-sm-5'>Number of Seasons</dt>
                        <dd class='col-sm-7'>2 (1 in 3.Bundesliga, 1 in 2. Bundesliga)</dd>
                        <dt class='col-sm-5'>Record</dt>
                        <dd class='col-sm-7'>30W-22D-23L - 40% win perc.</dd>
                        <dt class='col-sm-5'>Goal of Save</dt>
                        <dd class='col-sm-7'>Bring the 1. Bundesliga title to 1860 Munich for the first time since the 1960s.</dd>
                        <dt class='col-sm-5'>Goal Achieved?</dt>
                        <dd class='col-sm-7'><span class='badge rounded-pill bg-secondary theBadge'>Not yet</span></dd>
                    </dl>
                </span>
                <span class='transferlist'>
                    <span class='listhead'>Important Transfers In</span>
                    <ul class='list-group list-group-flush'>
                        <li class='list-group-item'>Michael Ambichl Free</li>
                        <li class='list-group-item'>Olivier Mbaizo Free</li>
                        <li class='list-group-item'>Tomás Velásquez $130K</li>
                        <li class='list-group-item'>Andrija Novakovich $825K</li>
                        <li class='list-group-item'>Nicolò Fagioli Loan</li>
                        <li class='list-group-item'>Mamadou Doucouré Free</li>
                    </ul>
                </span>
                <span class='trophylist'>
                    <span class='listhead'>Trophies</span>
                    <ul class='list-group list-group-flush'>
                        <li class='list-group-item'>None</li>
                    </ul>
                    
                </span>
                <span class='save-story'>
                    <span class='listhead' id='1860StoryHead'>Story</span>
                    <p class='story-body' id='1860story'>Don't really have any connection to a specific team in Germany but I wanted to bring back a team to glory and 1860 Munich was just the team. 
                        They last won the top league in Germany in the 1960s and recently had a fall from grace where they dropped all the way to the 4th tier. 
                        I've only played 2 seasons so far but its been a lot more fun this time around as I'm not over-achieving in the 2nd tier too much as in Bari. 
                        The first season we ended up in the promotion playoffs and won and then in the second season we ended mid-table. 
                        Looking forward to the next season and what that'll bring!</p>
                    <button type="button" id='1860Save' class='btn btn-primary'>Download Save File</button>
                </span>
                <span class='bestXI'>
                    <span class='listhead'>Best XI</span>
                    <img class='xi' src='/images/fm/1860-bestXI.png' alt="1860 Munich's Best XI over the course of the save">
                </span>
            </div>
        </div>
    </div>
</div>
<script src="/js/fm.js"></script>