<h1>Side Projects</h1>
<div class='pageDesc'>Highlighting some of the projects that I have done over the past few years. Check each of them out!</div>
<div class='proj-box'>
    <img src='/images/side-projects/bgg_info_ui.png' class='proj-pic'>
    <div class='proj-desc'>
        <h4>Board Game Info App <i class="devicon-python-plain" style='font-size:100%;'></i></h4>
        <p>Application to get board game information from Board Game Geek using their API. Written in Python.</p>
        <a class="github-button" href="https://github.com/lucaono13/Board-Game-Info-Grabber/archive/master.zip"
            data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon='octicon-download'
            data-size="large" aria-label="Download lucaono13/Board-Game-Info-Grabber on GitHub">Download</a>
        <a class="github-button" href="https://github.com/lucaono13/Board-Game-Info-Grabber"
            data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon='octicon-star'
            data-size="large" aria-label="Star lucaono13/Board-Game-Info-Grabber on GitHub">Star</a>
    </div>
</div>
<div class='proj-box'>
    <img class='proj-pic' src="/images/side-projects/crypto-bitcoin.jpg">
    <div class='proj-desc'>
        <h4><span id='crypto'>Cryptocurrency</span> Tracker <i class="devicon-bash-plain" style='font-size: 100%;'></i></h4>
        <p>Bash application to track the price of Cryptocurrency and run trade simulations. Written in Bash.</p>
        <a class="github-button" href="https://github.com/lucaono13/CryptoOMIS107/archive/master.zip"
            data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-download"
            data-size="large" aria-label="Download lucaono13/CryptoOMIS107 on GitHub">Download</a>
        <a class="github-button" href="https://github.com/lucaono13/CryptoOMIS107"
            data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star"
            data-size="large" aria-label="Star lucaono13/CryptoOMIS107 on GitHub">Star</a>
    </div>
</div>
<div class='proj-box'>
    <img class='proj-pic' src='/images/side-projects/database.jpg'>
    <div class='proj-desc'>
        <h4>Database Creation <i class="devicon-microsoftsqlserver-plain" style="font-size: 100%;"></i></i></h4>
        <p>Created database and filled with data. Also created 3 useful view for business. Written in SQL.</p>
        <a class="github-button" href="https://github.com/lucaono13/Database_Creation/archive/master.zip"
            data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-download"
            data-size="large" aria-label="Download lucaono13/Database_Creation on GitHub">Download</a>
        <a class="github-button" href="https://github.com/lucaono13/Database_Creation"
            data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star"
            data-size="large" aria-label="Star lucaono13/Database_Creation on GitHub">Star</a>
    </div>
</div>
<div class='proj-box'>
    <img class='proj-pic' src='/images/side-projects/this_site.png'>
    <div class='proj-desc'>
        <h4>This site! <i class="devicon-html5-plain" style="font-size: 100%;"></i><i class="devicon-css3-plain"
                style="font-size: 100%;"></i><i class="devicon-javascript-plain" style="font-size: 100%;"></i></h4>
        <p>Wrote this whole website from the ground up! Using HTML, CSS, and Javascript. Not yet uploaded to Github</p>
    </div>
</div>


<script src="/js/sideprojs.js"></script>